In [2]:
import numpy as np
import pandas as pd

In [11]:
# Numero de quiz
q = '3'
# Numeración de los ejercicios
ejercicios = ['1', '2', '3']

# Lista vacía para las respuestas
respuestas = []

# Agregar las respuestas a cada ejercicio
respuestas.append(np.array([1., 0.9382716049382716, 0.8641975308641976, 0.7777777777777778, 0.6790123456790124,
0.5679012345679012, 0.44444444444444453, 0.3086419753086421, 0.16049382716049387, 0. ]))   # 1
respuestas.append(np.array([0.10000000000000009, 1.0000000000000026e-05, 100.0])) # 1b
respuestas.append(np.array([0.03333333333333336, 0.03333333333333342, 0.03333333333333333])) # 2
    
# Convertimos a un DataFrame
ans_df = pd.DataFrame([respuestas], columns=ejercicios)

# Escribimos las respuestas en un archivo tipo parquet, binario y comprimido
ans_df.to_parquet('.__ans_' + q, compression='gzip')

# Mostramos el contenido del DataFrame
ans_df

,1,2,3
0,"[1.0, 0.9382716049382716, 0.8641975308641976, ...","[0.10000000000000009, 1.0000000000000026e-05, ...","[0.03333333333333336, 0.03333333333333342, 0.0..."

In [12]:
# Se puede leer el contenido del archivo tipo parquet, binario y comprimido como sigue
ans_df2 = pd.read_parquet('.__ans_' + q) # Se lee en un DataFrame
ans_df2

,1,2,3
0,"[1.0, 0.9382716049382716, 0.8641975308641976, ...","[0.10000000000000009, 1.0000000000000026e-05, ...","[0.03333333333333336, 0.03333333333333342, 0.0..."