In [1]:
import numpy as np
import pandas as pd

In [7]:
# Numeración de los ejercicios
ejercicios = ['1', '2', '3', '4A', '4B', '4C', '4D']

# Lista vacía para las respuestas
respuestas = []

# Agregar las respuestas a cada ejercicio
respuestas.append(np.array([0.1450]))   # 1
respuestas.append(np.array([0.0196]))   # 2
respuestas.append(['C', 'c'])           # 3
respuestas.append(np.array([2.369007])) # 4A
respuestas.append(np.array([0.498646])) # 4a
respuestas.append(np.array([4.9e-09]))  # 4b
respuestas.append(np.array([1.1e-09]))  # 4c

# Convertimos a un DataFrame
ans_df = pd.DataFrame([respuestas], columns=ejercicios)

# Escribimos las respuestas en un archivo tipo parquet, binario y comprimido
ans_df.to_parquet('__ans1.parquet.gz', compression='gzip')

# Mostramos el contenido del DataFrame
ans_df

         1         2       3          4A          4B         4C         4D
0  [0.145]  [0.0196]  [C, c]  [2.369007]  [0.498646]  [4.9e-09]  [1.1e-09]

In [8]:
# Se puede leer el contenido del archivo tipo parquet, binario y comprimido como sigue
ans_df2 = pd.read_parquet('__ans1.parquet.gz') # Se lee en un DataFrame
ans_df2

         1         2       3          4A          4B         4C         4D
0  [0.145]  [0.0196]  [C, c]  [2.369007]  [0.498646]  [4.9e-09]  [1.1e-09]