In [2]:
import numpy as np
import pandas as pd

In [17]:
# Numero de quiz
q = '1'
# Numeración de los ejercicios
ejercicios = ['1', '2', '3', '4']

# Lista vacía para las respuestas
respuestas = []

# Agregar las respuestas a cada ejercicio
respuestas.append(np.array([0., 0.025, 0.05, 0.075, 0.1, 0.125, 0.15, 0.175, 0.2, 0.225, 0.25, 
                            0.275, 0.3, 0.325, 0.35, 0.375, 0.4, 0.425, 0.45, 0.475, 0.5, 0.525, 
                            0.55,  0.575, 0.6, 0.625, 0.65, 0.675, 0.7, 0.725, 0.75, 0.775, 0.8,
                            0.825, 0.85, 0.875, 0.9, 0.925, 0.95, 0.975, 1.]))   # 1
respuestas.append(np.array([1.96144686, 1.96144686, 1.96144686, 1.96144686, 1.96144686,
       1.96144686, 1.96144686, 1.96144686, 1.96144686, 1.96144686,
       1.96144686, 1.96144686, 1.96144686, 1.96144686, 1.96144686,
       1.96144686, 1.96144686, 1.96144686, 1.96144686, 1.96144686,
       1.96144686, 1.96144686, 1.96144686, 1.96144686, 1.96144686,
       1.96144686, 1.96144686, 1.96144686, 1.96144686, 1.96144686,
       1.96144686, 1.96144686, 1.96144686, 1.96144686, 1.96144686,
       1.96144686, 1.96144686, 1.96144686, 1.96144686]))   # 2

respuestas.append([ 1.        ,  1.17861629,  1.31179322,  1.3943964 ,  1.42324122,
        1.39721561,  1.31732296,  1.18664336,  1.01021494,  0.79483955,
        0.5488206 ,  0.28164289,  0.00360697, -0.27456802, -0.54215754,
       -0.78884519, -1.00512038, -1.18264502, -1.31457498, -1.39582394,
       -1.4232595 , -1.39582394, -1.31457498, -1.18264502, -1.00512038,
       -0.78884519, -0.54215754, -0.27456802,  0.00360697,  0.28164289,
        0.5488206 ,  0.79483955,  1.01021494,  1.18664336,  1.31732296,
        1.39721561,  1.42324122,  1.3943964 ,  1.31179322,  1.17861629,
        1.        ])           # 3
respuestas.append(np.array([0.04614724])) # 4
#respuestas.append(np.array([0.498646])) # 4a
#respuestas.append(np.array([4.9e-09]))  # 4b
#respuestas.append(np.array([1.1e-09]))  # 4c
#respuestas.append(['3x^2-3xh+h^2', '3x^2-3hx+h^2'])     # 5

# Convertimos a un DataFrame
ans_df = pd.DataFrame([respuestas], columns=ejercicios)

# Escribimos las respuestas en un archivo tipo parquet, binario y comprimido
ans_df.to_parquet('.__ans_' + q, compression='gzip')

# Mostramos el contenido del DataFrame
ans_df

,1,2,3,4
0,"[0.0, 0.025, 0.05, 0.075, 0.1, 0.125, 0.15, 0....","[1.96144686, 1.96144686, 1.96144686, 1.9614468...","[1.0, 1.17861629, 1.31179322, 1.3943964, 1.423...",[0.04614724]

In [18]:
# Se puede leer el contenido del archivo tipo parquet, binario y comprimido como sigue
ans_df2 = pd.read_parquet('.__ans_' + q) # Se lee en un DataFrame
ans_df2

,1,2,3,4
0,"[0.0, 0.025, 0.05, 0.075, 0.1, 0.125, 0.15, 0....","[1.96144686, 1.96144686, 1.96144686, 1.9614468...","[1.0, 1.17861629, 1.31179322, 1.3943964, 1.423...",[0.04614724]