In [40]:
import numpy as np

import pandas as pd

import pyarrow as pa

df = pd.DataFrame({'one': [np.array([-1]), np.nan, np.array([2.5])],

                   'two': [np.flatten(np.array([['2'],['3']])), np.array(['1']), np.array(['3.14'])],

                   'three': [True, False, True]},

                   index=list('abc'))



table = pa.Table.from_pandas(df)
df.to_parquet('prueba', compression='gzip')

AttributeError: module 'numpy' has no attribute 'flatten'

In [37]:
df

     one     two  three
a   [-1]     [2]   True
b    NaN     [1]  False
c  [2.5]  [3.14]   True

In [15]:
import pandas as pd
import numpy as np

In [16]:
c1 = ['a', 'b', 'c']
df1 = pd.DataFrame(c1, columns=['1'])
df1

   1
0  a
1  b
2  c

In [17]:
c2 = ['x', 'y', 'z', 0.5]
df2 = pd.DataFrame(c2,columns=['2'])
df2

     2
0    x
1    y
2    z
3  0.5

In [18]:
final = pd.concat([df1, df2], axis=1)
final

     1    2
0    a    x
1    b    y
2    c    z
3  NaN  0.5

In [19]:
final.to_parquet('prueba', compression='gzip')

ArrowTypeError: ("Expected bytes, got a 'float' object", 'Conversion failed for column 2 with type object')

In [7]:
import pyarrow as pa
table = pa.Table.from_pandas(final)

ArrowTypeError: ("Expected bytes, got a 'numpy.ndarray' object", 'Conversion failed for column 2 with type object')

In [ ]:
c3 = [np.array([3.]), np.array([4.])]
df3 = pd.DataFrame(c3,columns=['3'])
df3

In [ ]:
final = pd.concat([final, df3], axis=1)

In [ ]:
final

In [ ]:
final.to_parquet('prueba', compressed='gzip')

In [45]:
eval('np.array([[1],[2]])')

array([[1],
       [2]])

In [5]:
import numpy as np
import pandas as pd

file = pd.read_csv('ejemplo_res.csv')                    
file

    N                    Respuesta   Tipo
0   1                          A,a    str
1   2                          B,b    str
2   3                     3.141592  float
3  4a  np.array([[1,2,3],[4,5,6]])  array
4  4b                          x^3    str
5   5                      \cos(x)    str
6   6         np.array([1.2, 3.4])  array

In [6]:
for i in range(len(file)):
    if file.iloc[i]['Tipo'] == 'str':
        dummy = file.iloc[i]['Respuesta'].split(',')
        file.iloc[i]['Respuesta'] = dummy
    if file.iloc[i]['Tipo'] == 'float':
        file.iloc[i]['Respuesta'] = np.array([float(file.iloc[i]['Respuesta'])])
    if file.iloc[i]['Tipo'] == 'array':
        dummy = eval(file.iloc[i]['Respuesta'],{"__builtins__": {}}, {"np":np})
        file.iloc[i]['Respuesta']=dummy
file

    N               Respuesta   Tipo
0   1                  [A, a]    str
1   2                  [B, b]    str
2   3              [3.141592]  float
3  4a  [[1, 2, 3], [4, 5, 6]]  array
4  4b                   [x^3]    str
5   5               [\cos(x)]    str
6   6              [1.2, 3.4]  array

In [11]:
r = list(file.Respuesta)

In [12]:
c=list(file.N)

In [13]:
ans_df = pd.DataFrame([r], columns=c)
ans_df

,1,2,3,4a,4b,5,6
0,"[A, a]","[B, b]",[3.141592],"[[1, 2, 3], [4, 5, 6]]",[x^3],[\cos(x)],"[1.2, 3.4]"